<?xml version='1.0' encoding='utf-8'?>
<widget id="com.manywho.cordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ManyWho</name>
    <description>
        ManyWho application template.
    </description>
    <author email="support@manywho.com" href="http://manywho.com">
        ManyWho Team
    </author>
    <content src="index.html" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <access origin="*" />
    <allow-navigation href="file:*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="file:*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/icon/icon180x180.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon/icon60x60.png" width="60" height="60" />
        <icon src="res/ios/icon/icon120x120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/ios/icon/icon76x76.png" width="76" height="76" />
        <icon src="res/ios/icon/icon152x152.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="res/ios/icon/icon40x40.png" width="40" height="40" />
        <icon src="res/ios/icon/icon80x80.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icon/icon57x57.png" width="57" height="57" />
        <icon src="res/ios/icon/icon114x114.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/ios/icon/icon72x72.png" width="72" height="72" />
        <icon src="res/ios/icon/icon144x144.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icon/icon29x29.png" width="29" height="29" />
        <icon src="res/ios/icon/icon58x58.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/icon/icon50x50.png" width="50" height="50" />
        <icon src="res/ios/icon/icon100x100.png" width="100" height="100" />
        <!-- images are determined by width and height. The following are supported -->
        <splash src="res/ios/screen/screen320x320.png" width="320" height="480"/>
        <splash src="res/ios/screen/screen640x960.png" width="640" height="960"/>
        <splash src="res/ios/screen/screen768x1024.png" width="768" height="1024"/>
        <splash src="res/ios/screen/screen1536x2048.png" width="1536" height="2048"/>
        <splash src="res/ios/screen/screen1024x768.png" width="1024" height="768"/>
        <splash src="res/ios/screen/screen2048x1536.png" width="2048" height="1536"/>
        <splash src="res/ios/screen/screen640x1136.png" width="640" height="1136"/>
        <splash src="res/ios/screen/screen750x1334.png" width="750" height="1334"/>
        <splash src="res/ios/screen/screen1242x2208.png" width="1242" height="2208"/>
        <splash src="res/ios/screen/screen2208x1242.png" width="2208" height="1242"/>
    </platform>
    <engine name="android" spec="~5.1.1" />
</widget>
